.root_wrapper {
    width: 100dvw;
    height: 100dvh;
}

.routes_view {
    width: 82%;
    height: 100%;
    border-left: 5px solid #F83333;
    border-right: 5px solid #BD09A9;
    margin-top: 70px;
    padding-top: 20px;
    margin-left: 18%;
    /* margin-right: 18%;  */
    min-height: 100vh;

}