
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* background-color: #0B0202; */

}

::-webkit-scrollbar {
    display: none;
}
body {
    /* background-color: #fff; */
    background-color: #0B0202;
    scroll-behavior: smooth !important;
    position: relative;
}

.root_wrapper{
  width: 100dvw;
  height: 100dvh;
}


.dashboard_nav {
    height: 80px;
    width: 100vw;
    position: relative;
    background-color: #0B0202;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    font-family: "Orbitron", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 0px 20px;
    /* border-bottom: 5px solid red; */
    position: fixed;  
    top: 0;          
    left: 0;
    letter-spacing: 2px;
}
.dashboard_nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* Adjust the thickness of the border */
  background: linear-gradient(to right, #FF1717, #9D04F6);
  z-index: 1;
}


.dash_btn{
  display: flex;
}
.dash_btn div{
  margin: 0px 2px;
}
.coin_btn{
  padding: 6px 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  font-family: "Play", serif;
  font-weight: 700;
  font-size: 16px;
  /* cursor: pointer; */
}
.profile_btn{
  font-family: "Orbitron", serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.nav_dash_width {
  width: 25%;
  text-align: left;
}
.tournament_main{
  background-color: #0B0202;
  display: flex;
  /* padding: 0px 10px; */
}
/*.menu_tabs {
  width: 18%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: 0;
  overflow-y: auto;
}*/
.tournament_list{
  width: 82%;
  height: 100%;
  border-left: 5px solid #F83333;
  border-right: 5px solid #BD09A9;
  margin-top: 70px;
  padding-top:20px ;
  margin-left: 18%; 
  /* margin-right: 18%;  */
  min-height: 100vh;

}
.tournament_div {
    /* width: 90%;
     margin: 0px auto; */
     padding: 0px 20px;
     /* margin: 0px auto;  */
     display: flex;
     justify-content: space-between;

}
.ads_tabs {
  width: 18%;
  height: calc(100vh - 50px);
  /* margin-top: 50px ; */
  position: fixed;
  top: 50px;
  right: 0;
  overflow-y: auto;
}



.tabs_dash_div {
  margin: 10px 0;
}
.dash_tab{
  color: #fff;
  text-decoration: none;
  background: rgb(255,55,55);
  background: linear-gradient(90deg, rgba(255,55,55,1) 0%, rgba(22,10,10,1) 77%);
  padding: 30px 20px;
  font-family: "Orbitron", serif;
  font-weight: 500;
  display: block;
  /* width: 220px; */
  letter-spacing: 2px;
}
.tab_inactive {
  color: #fff;
  text-decoration: none;
  background: rgb(20, 19, 19);
  background: linear-gradient(90deg, rgb(22, 21, 21) 0%, rgba(22, 10, 10, 1) 77%);
  padding: 30px 20px;
  font-family: "Orbitron", serif;
  font-weight: 500;
  display: block;
  /* width: 220px; */
  letter-spacing: 2px;
}

.ad_text{
  color: #fff;
  font-family: "Orbitron", serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}
.dash_ads_div{
  margin: 0px 10px;
}
.dash_ads{
  background-color: #D9D9D9;
  height: 287px;
  border-radius: 20px;
  margin: 10px 0px;
  
}
.tournament_text{
  color: #fff;
  font-family: "Play", serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;

}
.tournament_card_main {
  display: flex;
  justify-content: center;
}

.tournament_card {
  width: 100%;
  /* max-width: 350px; */
  position: relative;
  z-index: 0;
  font-family: "Play", sans-serif;
  font-weight: 700;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 3px;
  overflow: hidden; /* Ensures the inner content stays clipped */
}

/* Creating the gradient border effect */
.tournament_card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(110deg, #f83333, #bd09a9);
  border-radius: inherit; /* Ensures it follows the card's border-radius */
  z-index: -1;
}

/* Inner container to create the border illusion */
.tournament_card > .card-body-slider {
  background: #2b2b2b;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  position: relative;
  z-index: 1; /* Ensures content is above the gradient */
}

.tournament_card_img {
  width: 100%;
  min-height: 8rem;
  object-fit: cover; 
  position: relative;
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
}

.card_content {
  /* background-color: #2b2b2b; */
  color: #fff;
}

.tournament_card p {
  font-weight: 400;
}
.games_bg {
  display: flex;
  align-items: center;
  /* width: 45%; */
  padding: 3px;
  margin: 5px; 
  border-radius: 14px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  /* min-height: 90px; */
}

/* .nav_game_info {
    height: 85px;
    width: 100%;
    background-color: #0B0202;
    position: sticky;
    top: 0px;
    z-index: 3000;
} */
.winner_declared{
  color: #FFFFFF;
  font-size: 25px;
  padding-top: 80px;
}

/* Gradient border effect */
.games_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(110deg, #f83333, #bd09a9);
  border-radius: inherit;
  z-index: -1;
}

/* Inner container to hold the actual content */
.games_bg_inner {
  min-height: 90px;
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px;
  border-radius: 10px; /* Ensure it has a slightly smaller radius */
  width: 100%;
  position: relative;
  z-index: 1; /* Ensure it appears above the gradient */
}


.game_name_all{
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;

}
.game_info{
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0px;
}
/* coin page css start */
.coin_div{
  /* width: 22%; */
  background-color: #242424;
  height: 210px;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  padding: 20px 0px;
}
.coin_pack{
  margin: 0px 30px;
}
.get_coin_btn{
  width: 120px;
  padding: 8px 20px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: linear-gradient(to right, #FB161E, #AB06D5);
  font-family: "Orbitron",sans-serif;
  font-weight: 700;
  font-size: 15px;

}
.coins_amount{
  font-family: "Play",sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin-left: 10px;
}
/* leaderboard css start */
.nav_search{
  display: flex;
  justify-content: space-between;
}
.search_box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 250px;
}
.add_btn_main {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100px;
}
.add_btn {
 background-color: #AB06D5;
 border: none;
 padding: 4px 40px;
 color: #ffffff;
 border-radius: 10px;

}

.search_input {
  width: 100%;
  padding: 5px 40px 5px 15px; /* Left padding for text, right for icon */
  background-color: #2b2b2b;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  outline: none;
}

/* Placeholder Styling */
.search_input::placeholder {
  color: white;
  opacity: 0.7; /* Make it slightly dim */
  padding-left: 5px; /* Adds padding inside placeholder */
}

/* Search Icon */
.search_icon {
  position: absolute;
  right: 12px; /* Moves the icon inside */
  font-size: 18px;
  color: white;
  pointer-events: none; /* Prevents clicking the icon */
}
.add_btn{
  padding: 10px 20px;
  /* margin-top: -20px; */
  border: none;
  color: #fff;
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative; 
  z-index: 1;
  letter-spacing: 2px;
}
.add_btn_main .add_btn {
  width: 170px;
  /* height: 40px; */
  border-radius: 50px;
  background-image: linear-gradient(to right, #ff1717, #9d04f6);
  position: relative;
  /* bottom: 10px; */
  /* margin-left: 70px; */
}

/****************** COMMON PERCENTAGE WIDTH CLASSES CSS START ******************/
div:where(.col_1p,
    .col_2p,
    .col_3p,
    .col_4p,
    .col_5p,
    .col_6p,
    .col_7p,
    .col_8p,
    .col_9p,
    .col_10p,
    .col_11p,
    .col_12p,
    .col_13p,
    .col_14p,
    .col_15p,
    .col_16p,
    .col_17p,
    .col_18p,
    .col_19p,
    .col_20p,
    .col_21p,
    .col_22p,
    .col_23p,
    .col_24p,
    .col_25p,
    .col_26p,
    .col_27p,
    .col_28p,
    .col_29p,
    .col_30p,
    .col_31p,
    .col_32p,
    .col_33p,
    .col_34p,
    .col_35p,
    .col_36p,
    .col_37p,
    .col_38p,
    .col_39p,
    .col_40p,
    .col_41p,
    .col_42p,
    .col_43p,
    .col_44p,
    .col_45p,
    .col_46p,
    .col_47p,
    .col_48p,
    .col_49p,
    .col_50p,
    .col_51p,
    .col_52p,
    .col_53p,
    .col_54p,
    .col_55p,
    .col_56p,
    .col_57p,
    .col_58p,
    .col_59p,
    .col_60p,
    .col_61p,
    .col_62p,
    .col_63p,
    .col_64p,
    .col_65p,
    .col_66p,
    .col_67p,
    .col_68p,
    .col_69p,
    .col_70p,
    .col_71p,
    .col_72p,
    .col_73p,
    .col_74p,
    .col_75p,
    .col_76p,
    .col_77p,
    .col_78p,
    .col_79p,
    .col_80p,
    .col_81p,
    .col_82p,
    .col_83p,
    .col_84p,
    .col_85p,
    .col_86p,
    .col_87p,
    .col_88p,
    .col_89p,
    .col_90p,
    .col_91p,
    .col_92p,
    .col_93p,
    .col_94p,
    .col_95p,
    .col_96p,
    .col_97p,
    .col_98p,
    .col_99p,
    .col_100p) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    overflow: hidden;
}

div:where(.col_1p) {
    width: 1%;
}

div:where(.col_2p) {
    width: 2%;
}

div:where(.col_3p) {
    width: 3%;
}

div:where(.col_4p) {
    width: 4%;
}

div:where(.col_5p) {
    width: 5%;
}

div:where(.col_6p) {
    width: 6%;
}

div:where(.col_7p) {
    width: 7%;
}

div:where(.col_8p) {
    width: 8%;
}

div:where(.col_9p) {
    width: 9%;
}

div:where(.col_10p) {
    width: 10%;
}

div:where(.col_11p) {
    width: 11%;
}

div:where(.col_12p) {
    width: 12%;
}

div:where(.col_13p) {
    width: 13%;
}

div:where(.col_14p) {
    width: 14%;
}

div:where(.col_15p) {
    width: 15%;
}

div:where(.col_16p) {
    width: 16%;
}

div:where(.col_17p) {
    width: 17%;
}

div:where(.col_18p) {
    width: 18%;
}

div:where(.col_19p) {
    width: 19%;
}

div:where(.col_20p) {
    width: 20%;
}

div:where(.col_21p) {
    width: 21%;
}

div:where(.col_22p) {
    width: 22%;
}

div:where(.col_23p) {
    width: 23%;
}

div:where(.col_24p) {
    width: 24%;
}

div:where(.col_25p) {
    width: 25%;
}

div:where(.col_26p) {
    width: 26%;
}

div:where(.col_27p) {
    width: 27%;
}

div:where(.col_28p) {
    width: 28%;
}

div:where(.col_29p) {
    width: 29%;
}

div:where(.col_30p) {
    width: 30%;
}

div:where(.col_31p) {
    width: 31%;
}

div:where(.col_32p) {
    width: 32%;
}

div:where(.col_33p) {
    width: 33%;
}

div:where(.col_34p) {
    width: 34%;
}

div:where(.col_35p) {
    width: 35%;
}

div:where(.col_36p) {
    width: 36%;
}

div:where(.col_37p) {
    width: 37%;
}

div:where(.col_38p) {
    width: 38%;
}

div:where(.col_39p) {
    width: 39%;
}

div:where(.col_40p) {
    width: 40%;
}

div:where(.col_41p) {
    width: 41%;
}

div:where(.col_42p) {
    width: 42%;
}

div:where(.col_43p) {
    width: 43%;
}

div:where(.col_44p) {
    width: 44%;
}

div:where(.col_45p) {
    width: 45%;
}

div:where(.col_46p) {
    width: 46%;
}

div:where(.col_47p) {
    width: 47%;
}

div:where(.col_48p) {
    width: 48%;
}

div:where(.col_49p) {
    width: 49%;
}

div:where(.col_50p) {
    width: 50%;
}

div:where(.col_51p) {
    width: 51%;
}

div:where(.col_52p) {
    width: 52%;
}

div:where(.col_53p) {
    width: 53%;
}

div:where(.col_54p) {
    width: 54%;
}

div:where(.col_55p) {
    width: 55%;
}

div:where(.col_56p) {
    width: 56%;
}

div:where(.col_57p) {
    width: 57%;
}

div:where(.col_58p) {
    width: 58%;
}

div:where(.col_59p) {
    width: 59%;
}

div:where(.col_60p) {
    width: 60%;
}

div:where(.col_61p) {
    width: 61%;
}

div:where(.col_62p) {
    width: 62%;
}

div:where(.col_63p) {
    width: 63%;
}

div:where(.col_64p) {
    width: 64%;
}

div:where(.col_65p) {
    width: 65%;
}

div:where(.col_66p) {
    width: 66%;
}

div:where(.col_67p) {
    width: 67%;
}

div:where(.col_68p) {
    width: 68%;
}

div:where(.col_69p) {
    width: 69%;
}

div:where(.col_70p) {
    width: 70%;
}

div:where(.col_71p) {
    width: 71%;
}

div:where(.col_72p) {
    width: 72%;
}

div:where(.col_73p) {
    width: 73%;
}

div:where(.col_74p) {
    width: 74%;
}

div:where(.col_75p) {
    width: 75%;
}

div:where(.col_76p) {
    width: 76%;
}

div:where(.col_77p) {
    width: 77%;
}

div:where(.col_78p) {
    width: 78%;
}

div:where(.col_79p) {
    width: 79%;
}

div:where(.col_80p) {
    width: 80%;
}

div:where(.col_81p) {
    width: 81%;
}

div:where(.col_82p) {
    width: 82%;
}

div:where(.col_83p) {
    width: 83%;
}

div:where(.col_84p) {
    width: 84%;
}

div:where(.col_85p) {
    width: 85%;
}

div:where(.col_86p) {
    width: 86%;
}

div:where(.col_87p) {
    width: 87%;
}

div:where(.col_88p) {
    width: 88%;
}

div:where(.col_89p) {
    width: 89%;
}

div:where(.col_90p) {
    width: 90%;
}

div:where(.col_91p) {
    width: 91%;
}

div:where(.col_92p) {
    width: 92%;
}

div:where(.col_93p) {
    width: 93%;
}

div:where(.col_94p) {
    width: 94%;
}

div:where(.col_95p) {
    width: 95%;
}

div:where(.col_96p) {
    width: 96%;
}

div:where(.col_97p) {
    width: 97%;
}

div:where(.col_98p) {
    width: 98%;
}

div:where(.col_99p) {
    width: 99%;
}

div:where(.col_100p) {
    width: 100%;
}

/****************** COMMON PERCENTAGE WIDTH CLASSES CSS END ******************/

/* table styling  */
.table_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.table_main {
  width: 100%;
  min-width: 700px;
  border-radius: 10px;
  /* padding: 10px; */
  /* border: 1px solid #d80f6ead; */
}
.table_section {
    width: 100%;
}

.table_header,
.table_data {
    display: flex;
    align-items: center;
    padding: 2px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  border: 1px solid #d80f6ead;
  padding: 2px 10px;

}

.table_header {
    background: #222222;
    /* Darker shade for header */
    font-weight: bold;
    border-radius: 10px;
    color: #f8f8f8;
    /* Light text */
}
.table_header > div > h5 , .table_data > div > h6{
   margin-bottom: 0px;
}

.table_data {
    background: #1e1e1e;
    /* Slightly lighter than main background */
    border-radius: 8px;
    margin: 2px 0;
    color: #ffffff;
    /* White text */
}

.no_data {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #fff;
}
.fontfam_play {
    font-family: "Play", serif;
    /* font-weight: 700;
    font-size: 16px; */

}
.table_scroll {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    max-width: 100%;
}

/* Ensures the table doesn't shrink */
.table_section {
    min-width: 800px; /* Adjust based on your content */
    white-space: nowrap; /* Prevents text from wrapping */
}

.search-input-container {
  width: 80%;
  padding-right: 30px;
}




/* table styling  end*/

/* my games tab css  start*/
.games_desc{
    color: #fff;
    margin-bottom: 7px;
  }
  .games_info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .hr_line_games {
    padding: 1px;
    background-color: red;
    border: none;
    margin: 4px 0px;
  }
  
/* my games tab css  end*/
/* Profile tab css  start*/
.profile-card {
    /* width: 350px; */
    border-radius: 15px;
    background: linear-gradient(135deg, #f8333395, #bd09a88e);
    color: white;
    text-align: center;
  }
  
  .profile-img {
    border: 4px solid white;
    object-fit: cover;
  }
  
  .rank-text {
    font-size: 18px;
    font-weight: 500;
  }
  
  .team-text {
    font-size: 16px;
    font-style: italic;
    color: #ddd;
  }
  
  .btn-primary {
    background-color: #ffcc00;
    border: none;
    color: black;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #e6b800;
  }
  
/* Profile tab css  end*/
/* game-info tab css  start*/
.contest_menu_btn {
    width: 33.33%;

}
.contest_menu {
    background-image: linear-gradient(to right, #ff1717, #9d04f6);
    color: white;
    width: 100%;
    
    
}

/*  */

.custom-card-contest {
    background-color: #0D1224;
    color: white;
    border-radius: 10px;
    /* max-width: 350px; */
    margin: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .card-header-contest {
    background-color: #F4A701;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 15px;
  }
  
  .custom-badge-contest {
    background-color: #F4A701;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .label-contest {
    color: #A0A0A0;
    font-size: 12px;
    margin-bottom: 2px;
  }
  
  .value-contest {
    font-weight: bold;
    font-size: 14px;
  }
  
  .progress-container-contest {
    font-size: 12px;
  }
  
  .progress-contest {
    background-color: #444;
    height: 5px;
    border-radius: 10px;
  }
  
  .progress-bar-contest {
    background-color: #F4A701;
  }
  
  .btn-warning-contest {
    background-color: #F4A701;
    color: black;
    border: none;
  }
  
  .btn-warning-contest:hover {
    background-color: #d49000;
  }
  
/* game-info tab css  end*/



/*======================css for Loader========================*/

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 93, 93, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #4ca6bf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* ===============join contest cofirmation css start================ */

.modal-content-contest {
  background-color: #121a33;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.modal-header-contest {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header-contest .btn-close {
  background-color: red;
  border-radius: 50%;
  padding: 5px;
}

.modal-title-contest {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.confirmation-box {
  background: linear-gradient(to right, #ff1717, #9d04f6);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.confirmation-box span {
  color: gold;
}

.entry-box {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ffffff40;
}

.entry-box span {
  font-weight: bold;
}

.join-btn {
  display: block;
  width: 100%;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border: none;
}

.join-btn:hover {
  background: #222;
/* ===============join contest cofirmation css end================ */
}

/* ============join modal start===================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #131313;
  /* padding: 20px; */
  border-radius: 10px;
  width: 500px;
  text-align: center;
  /* z-index: 2; */
  box-shadow: 0px 0px 15px 5px rgba(251, 22, 30, 0.7); /* Red glow */
}
/* ============join modal end===================== */

.login_input {
  width: 400px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #D9D9D93D;
  margin-bottom: 20px;
  outline: none;
  color: #fff;
}

.login_input::placeholder {
  color: #fff;
  opacity: 1;
}

/* ============back button======================== */
/* .back_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.back_btn{
  border-radius: 10px;
}

/* hamburger css start **********************************************/



.menu_tabs a {
  /* padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; */
}
/* 
.menu_tabs a:hover {
  color: #f1f1f1;
} */

/* .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
} */

.menu_tabs {
  height: 100%;
  width: 18%;
  height: calc(100vh - 80px);
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  /* background-color: #111; */
  overflow-y: auto;
  overflow-x: hidden;
  transition: 1s;
  
  /* padding-top: 60px; */
}

.menu_tabs.open {
  width: 220px;
  display: block;
  transition: 2s;

}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* #main {
  transition: margin-left .5s;
  padding: 16px;
} */

/* Responsive Styles */

@media (min-width: 1025px) {
  .openbtn {
   display: none;
  }
  
}
@media (max-width: 1024px) {
  .menu_tabs {
    display: none;
    background-color: #111;

   }
   .tournament_list{
    width: 100%;
    margin-left: 0%; 
  }
}
@media screen and (max-width: 768px) {
  
}

/* hamburger css end **********************************************/