
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #fff;
    scroll-behavior: smooth !important;
    position: relative;
}

.nav {
    height: 85px;
    width: 100vw;
    background-color: #0B0202;
}
.nav_main {
    /* height: 80px; */
    width: 100vw;
    position: relative;
    background-color: #0B0202;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0px 20px;
    margin-top: 26px;
    z-index: 1000;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.nav_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 300px;
  margin-right: 200px;
}
.tabs{
    margin: 0px 20px;
}
.tabs p {
    color: #B207C5;
    margin-bottom: 0px;
}
.second_nav{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.nav_hr_line {
  height: 5px;
  width: 1013px;
  background-image: linear-gradient(to right, #ff1717, #9d04f6);
  border-radius: 0 10px 10px 0;
}
.login_btn{
    /* border-radius: 20px; */
    padding: 10px 40px;
    margin-left: 25px;
    margin-top: -20px;
    border: none;
    color: #fff;
    font-size: 15px;
    /* background: rgb(251,22,30); */
    /* background: linear-gradient(90deg, rgba(251,22,30,1) 70%, rgba(171,6,213,1) 100%); */
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative; 
    z-index: 1;

}
.login_main .login_btn {
  z-index: 2000;
  width: 192px;
  height: 48px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #ff1717, #9d04f6);
  position: relative;
  bottom: 10px;
}

/* hero section css start */
.carousel_main {
    height: 100vh;
    width: 100vw;
  background: linear-gradient(180deg, #0B0202 0%, rgba(11, 2, 2, 0.87) 35.51%, rgba(11, 2, 2, 0.8) 87.49%, #0B0202 100%),
  url('/homepage/d1a189d23eb45fa3184a0c7c3f19afa0.jpeg');

    /* background: 
        linear-gradient(rgba(11, 2, 2, 0.8), rgba(11, 2, 2, 0.8)), 
        url('/homepage/d1a189d23eb45fa3184a0c7c3f19afa0.jpeg'); */
    background-size: cover;
    background-position: center;
    padding: 40px 40px;
    
}
.carousel-inner image{
  margin-top: 150px;
}

.skill_play{
  letter-spacing: 8px;
  font-size: 67px;
  font-family: Orbitron;
  font-weight: bold;
}
.skill_play_content{
  font-family: play;
  font-size: 20px;
  letter-spacing: 1px;
}
.carousel-item{
  padding: 152px 85px ;
}
.gun_set{
  position: relative;
  bottom: 230px;
  right: 50px;
}
.remote_set{
  position: relative;
  bottom: 80px;
}

/* hero section css End */

/* Game section css start */

.available_games_heading p {
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    text-align: center;
    white-space: nowrap;
    font-size: 50px;
    font-weight: bold;
  }
  .game_list{
   width: 50%;
   padding-left: 11%;
   padding-top: 120px;
  }
  .gradient-text {
    background-image: linear-gradient(to top, #ff1717, #9d04f6);
    -webkit-background-clip: text;
    color: transparent;
  }
  .games_vr_line {
    background-image: linear-gradient(to bottom, #ff1717, #9d04f6);
    height: 40vh;
    width: 5px;
}
  .games_vr_line_right {
    background-image: linear-gradient(to bottom, #ff1717, #9d04f6);
    margin-right: 20px;
    height: 67vh;
    width: 5px;
}
  .games_section{
   font-family: "play",serif;  
   background-color: #000000; 
   padding-bottom: 50px;
  }
  .list_of-games p{
   font-family: "Orbitron",serif;  
  }
  #bgmi_tab{
    font-size: 70px;
    font-weight: bold;
    color: #FFFFFF;
  }
  #cod_tab{
    font-size: 30px;
    color: #FFFFFF;
  }
  #freefire_tab{
    font-size: 30px;
    color: #FFFFFF;
  }
  .main_games_section{
    width: 100vw;
    height: 100vh;
    /* padding: 85px 0px 70px 0; */
    background-color: #000000;
  }
  /* .card{
    border-radius: 100px;
  } */
  .card .poster_image{
    padding: 10px;
    border-radius: 25px;
}
.game_image_container{
    padding-top: 80px;
    padding-left: 32px;
}
.game_image_container .card {
  border-radius: 20px;
}
/* .card-title{
    font-size: 30px;
    padding-left: 20px;
} */
.game_name {
  padding: 10px 0px 0px 39px;
  font-size: 30px;
  /* padding-left: 20px; */
  font-weight: 500;
  font-family: 'Play';
}
.game_title{
    padding-left: 40px;
}
.game_title p{
  margin-bottom: 0px;
}
.user_percentage{
    padding-left: 50px;
}
.game_lead_section{
    width: 100vw;
    height: 100vh;
    background-color: #0B0202;
    /* background-image: url('../../public/homepage/gun.png'); */
    /* .background-container { */
      background: linear-gradient(
          360deg,
          #0b0202 10%,
          rgba(11, 2, 2, 0.87) 20.51%,
          rgba(11, 2, 2, 0.8) 87.49%,
          #0b0202 10%
        ),
        url('../../public/homepage/gun.png');
      background-size: cover;
      background-position: center;
      position: relative;
      box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.9); /* Dark shadow effect */
    /* } */
    
    background-position: center;
    background-repeat: no-repeat;
}

.lead_vr_line{
  background-color: #FB161E;
  height: 156px;
  width: 3px;
}
.game_lead_head p {
  font-size: 30px;
 font-family: play;
 font-weight: 700;
 background-image: linear-gradient(to top, #ff1717, #9d04f6);
 -webkit-background-clip: text;
 color: transparent;
 padding:30px 0px 0px 100px;
}
.gamer_image{
  text-align: right;

}
.game_lead_main{
  width: 100%;
  padding-top: 100px;
}
.game_lead_main .play_main{
  width: 70%;
}
.game_lead_main .gamer_image{
  width: 30%;
}
.game_lead_main .gamer_image{
  padding-left:150px ;
}
.play_with p{
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 800;
  font-family: Orbitron;
  letter-spacing: 8px;
  text-align: right;
  padding-right: 80px;
  line-height: 87.78px;
}
.play_with_content p{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  font-family: play;
  margin:0px 18px 0px 165px;
  line-height: 25.45px;
  /* width: 79%; */
  text-align: right;
  /* padding-right: 70px; */
}
.right_play_content .lead_vr_line{
  margin:0px 87px 0px 0px;
}

/* Game section css End */

/* News section css Start */

.news_section{
  width: 100vw;
  height: 100vh;
  background-color: #0B0202;
  padding: 0px 115px 0px 115px;
}
.news_head p{
  font-weight: 700;
  font-size: 30px;
  font-family: play;
  line-height: 34.71px;
  background-image: linear-gradient(to top, #ff1717, #9d04f6);
 -webkit-background-clip: text;
 color: transparent;
 /* padding:50px; */
 /* margin: 50px; */
 height: 35px;
}
.news_section{
  background-color: #000000;
}
.news_section .card{
  width: 319px;
  height: 484px;
  border-radius: 20px;
  border: 3px solid red;
  background-color: #000000;
}
.news_section .card image{
  padding: 500px;
}
.cards_image{
  width: 313px;
  height: 320px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}
.cards_content{
  border-radius: 50px;
}
.body_content_btn{
  background-image: linear-gradient(to left,rgb(72,26,29),rgb(57,23,63));;
  margin:0px 10px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.read_btn {
  font-family: play;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  background-color: rgb(255,86,86);
  color: #FFFFFF;
  padding: 6px 25px;
  border-radius: 50px;
  align-items: center;
  border: none;
  margin-left: 80px;
}
.carousel_main_news{
  background-color: #000000;
}
/* .card-title{
  font-family: play;
  font-weight: 500;
} */

/* News section css End */

/* Footer section css Start */
.footer_section{
  width: 100vw;
  background-color: #0B0202;
  background-image: url(../../public/homepage/footerImage.png);
  height: 100vh;
}
.top_footer{
  font-family: play;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.36px;
  padding: 40px 0px 0px 40px;

}
.left_side_footer{
  width: 100%;
  color: #FFFFFF;
}
.right_side_footer p{
  width: 353px;
  /* padding-right: 40px; */
  margin-right: 40px;
}
/* .right_side_footer p image{
  width: 10px;
  display: flex;
  align-items: end;
} */
.footer_bg_video {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  z-index: -1;
}
.footer_content{
  background-image: url(../../public/homepage/footerImage.png);
  height: 80vh;
  width: 100vw;
}
.dark_top_area{
  height: 10vh;
  background-color: #000000;
}
.dark_bottom_area{
  height: 10vh;
  background-color: #000000;
}


.footer_section .d-flex {
  display: flex;
  justify-content: space-between; /* Ensures left and right sides are apart */
  align-items: center; /* Aligns items vertically */
}

.right_side_footer {
  text-align: right; /* Aligns text and image to the right */
  font-family: play;
  color: #FFFFFF;
}

.right_side_footer img {
  display: block;
  margin-left: auto; /* Moves the image to the right */
}
.social_media_icon a{
  color: #FFFFFF;
}
.card-body {
  flex: auto;
  /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
  padding: 0px;
  color: var(--bs-card-color);
  height: 20px;
}
.card-name{
  padding: 5px 0px 0px 15px;
  font-family: orbitron;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
  color: rgb(255,188,188);
}
.card-content {
  padding: 0px 10px 0px 15px ;
  font-family: play;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 17px;
  color: #FFFFFF;
}
.input-group .lets_go_btn {
  width: 99px;
  height: 44px;
  border-radius: 15px;
  z-index: 5;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.36px;
}
.input-group .email_box {
  border-radius: 15px;
  opacity: 0.2;
}
.lets_play p{
 font-size: 70px;
 font-weight: 900;
 line-height: 87.78px;
 font-family: orbitron;
 height: 88px;
 letter-spacing: 5px;
}
.lets_play .xyz_gaming {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.08px;
  position: relative;
  bottom: 34px;
  left: 203px;
}
.frame_logo img{
  position: relative;
  right: 60px;
}
.register_btn button{
  border-radius: 50px;
width: 192px;
height: 48px;
font-family: orbitron;
font-size: 13px;
font-weight: 600;
letter-spacing: 2px;
background-image: linear-gradient(to right, #ff1717, #9d04f6);
border: none;
color: #FFFFFF;
}
.social_media_icon{
  margin: 0px 510px;
  padding-top: 30px;
}
.social_media_icon a i{
  width: 200px;
  height: 200px;
}
.terms_condtion{
  margin: 0px 390px;
  font-family: Orbitron;
  font-size: 15px;
font-weight: 700;
padding-top: 30px;
}
.company_design{
  font-family: Orbitron;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.05px;
  letter-spacing: 1px;
  padding-top: 20px;
}
.lets_go_btn{
  background-image: linear-gradient(to right, #ff1717, #9d04f6);
  border: none;
}
.icon_size{
  height: 200px;
  width: 200px;
}

.right_hr_line {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Align vertically */
  height: 10vh;
  background-color: black;
}

.right_hr_line p {
  height: 5px;
  background-image: linear-gradient(to left, #ff1717, #9d04f6);
  border-radius: 10px 0px 0px 10px;
  width: 1013px;
  margin-left: auto; /* Pushes the red line to the right */
}
